.mato_mission{
    height: 50vh;
    width: 100%;
    padding: 20px 0;
    background-color: #004896;
    /* display: flex;
    justify-content: center; */
}

.mato_mission h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.mission_content{
    display: flex;
    background-color: #fff;
    width: 80%;
    border-radius: 8px;
}

.mission_content_train{
    display: flex;
    background-color: #fff;
    width: 60%;
    border-radius: 8px;
}

.mission_divider{
    height: 200px;
    width: 4px;
    color: #004896;
    background-color: #004896;
    margin: 10px;
}

.mission_content1{
    width: 450px;
    padding: 15px;
}

.mission_divider_train{
    height: 245px;
    width: 4px;
    color: #004896;
    background-color: #004896;
    margin: 10px;
}

.mission_content_wrapper{
    display: flex;
    justify-content: center;
}

.mission_content_train img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media screen and (max-width:786px) {
    .mato_mission{
        height: 100%;
        padding: 20px;
    }

    .mission_content{
        flex-direction: column;
    }

    .mato_mission h1{
        font-size: 30px;
    }

    .mission_divider{
        height: 4px;
        width: 100%;
        color: #004896;
        background-color: #004896;
        margin: 0px;
    }

    .mission_divider_train{
        height: 4px;
        width: 100%;
        color: #004896;
        background-color: #004896;
        margin: 0px;
    }
    

    .mission_content1{
        width: 100%;
    }
}